@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Dans votre fichier CSS global */
* {
  box-sizing: border-box; /* Cela aide à gérer le layout plus prévisiblement */
  border-radius: 40px;
  font-size: 21px;
}

@font-face {
  font-family: 'Black_Chancy';
  src: url('src/assets/black_chancery/BLKCHCRY.TTF') format('truetype');
}

body {
  font-family: 'Black_Chancy', cursive;
  margin: 0; /* Réinitialiser les marges par défaut */
  padding: 0; /* Réinitialiser le padding par défaut */
  width: 100vw; /* Largeur de la fenêtre de visualisation */
  height: 100vh; /* Hauteur de la fenêtre de visualisation */
  background-color: #204d1b; /* Couleur de fond */
  border: groove 30px #2f1111; /* Style, épaisseur, et couleur de la bordure */
  border-radius: 40px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); /* Effet ombre */
}

#root {
  max-width: 1280px;
  margin: auto;
  text-align: center;
}

img {
  height: 50em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
img:hover {
  filter: drop-shadow(0 0 2em #dc9b0f);
}
img.react:hover {
  filter: drop-shadow(0 0 2em rgb(139, 6, 22));
}

@keyframes img {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 18px; /* Taille de police plus petite pour les tablettes */
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 16px; /* Taille de police encore plus petite pour les téléphones */
  }
  img {
    height: 4em; /* Taille de img réduite pour les petits écrans */
  }
}

